* {
    margin: 8px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font: 16px 'Neue Helvetica', Arial, sans-serif;
    color: #f5f5f5;
    background-color: #121214;
    // h1 {
    //     font-size: 64px;
    // }
}

a {
    color: #f5f5f5;
}
